@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: letter;
    margin: 0.5in;
  }

  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .print\:break-inside-avoid {
    break-inside: avoid;
  }
}
